# App
PORT=3000
JWT_SECRET=dev_super_secret

# PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=ged

# MongoDB
MONGO_URI=mongodb://localhost:27017/ged

# MinIO (S3-compatible)
S3_ENDPOINT=localhost
S3_PORT=9000
S3_USE_SSL=false
S3_ACCESS_KEY=minioadmin
S3_SECRET_KEY=minioadmin
